<div class="box">

	<!--FILTERS-->
	<div class="pull-right">
		<form class="form-inline">
			<div class="form-group">
				<label for="sort">Sort by: </label>
				<select class="form-control" ng-model="sort" id="sort">
					<option value="">Not Sorted</option>
					<option value="Name">Name</option>
					<option value="Lead.Username">Lead</option>
				</select>
			</div>
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon1"
					       ng-model="search">
					<span class="input-group-addon" id="basic-addon1"><span
							class="glyphicon glyphicon-search"></span></span>
				</div>
			</div>
			<h6>Showing <strong class="royal">{{filtered.length}}</strong> projects</h6>
			<h6><strong>Scroll</strong> table <strong>body</strong> to see <strong>listed projects</strong></h6>
		</form>
	</div>
	<!--FILTER END-->

	<h2>All Projects</h2>
	<table class="table table-hover" id="filter">
		<thead>
		<tr>
			<th>Name</th>
			<th class="columnA">Lead</th>
			<th>Description</th>
			<th>Labels</th>
			<th>Priorities</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="project in filtered =(projects | orderBy: sort | filter:search)">
			<td><a href="#/projects/{{project.Id}}" class="link">{{ project.Name }}</a></td>
			<td class="columnA">{{ project.Lead.Username }}<span class="royal" ng-if="project.Lead.isAdmin"> (is Admin)</span>
			</td>
			<td>{{ project.Description }}</td>
			<td><span ng-repeat="label in project.Labels">{{label.Name}}{{$last ? '' : ', '}} </span></td>
			<td><span ng-repeat="priority in project.Priorities">{{priority.Name}}{{$last ? '' : ', '}} </span></td>
		</tr>
		</tbody>
	</table>

	<!--NO DATA FOUND-->
	<div ng-if="projects.Projects.length==0" class="box no-data">
		No Projects found.
	</div>
</div>