<div class="box">

	<!--FILTERS-->
	<div ng-projects-filters></div>

	<h2>All Projects</h2>
	<table class="table table-hover" id="filter">
		<thead>
		<tr>
			<th>Name</th>
			<th >Lead</th>
			<th>Description</th>
			<th>Labels</th>
			<th>Priorities</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="project in filtered =(projects | orderBy: sort | filter:search)">
			<td><a href="#/projects/{{project.Id}}" class="link">{{ project.Name }}</a></td>
			<td >{{ project.Lead.Username }}<span class="royal" ng-if="project.Lead.isAdmin"> (is Admin)</span>
			</td>
			<td>{{ project.Description }}</td>
			<td><span ng-repeat="label in project.Labels">{{label.Name}}{{$last ? '' : ', '}} </span></td>
			<td><span ng-repeat="priority in project.Priorities">{{priority.Name}}{{$last ? '' : ', '}} </span></td>
		</tr>
		</tbody>
	</table>

	<!--NO DATA FOUND-->
	<div ng-if="projects.Projects.length==0" class="box no-data">
		No Projects found.
	</div>
</div>