<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="box">
            <form name="passwordForm" class="form-horizontal" autocomplete="off">
                <fieldset>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <legend>Change Password</legend>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="oldPassword" class="col-md-3 control-label">Old Password:</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" ng-minlength="6" ng-maxlength="100"
                                   ng-model="user.oldPassword" id="oldPassword" required="required"
                                   placeholder="Old password..." name="oldPass">
                        </div>
                        <div class="col-md-9 col-md-offset-3">
                            <span ng-show="passwordForm.oldPass.$valid"><span class="royal">Correct input</span></span>
                            <span ng-show="passwordForm.oldPass.$error.required" class="err"><span class="snowflake">*</span>Required</span>
                            <span ng-show="passwordForm.oldPass.$error.minlength" class="err"><span class="snowflake">*</span>Minimum 6 characters</span>
                            <span ng-show="passwordForm.oldPass.$error.maxlength" class="err"><span class="snowflake">*</span>Maximum 100 characters</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPassword" class="col-md-3 control-label">New Password:</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" ng-minlength="6" ng-maxlength="100"
                                   ng-model="user.NewPassword" id="newPassword" required="required"
                                   placeholder="New password..." name="pass">
                        </div>
                        <div class="col-md-9 col-md-offset-3">
                            <span ng-show="passwordForm.pass.$valid"><span class="royal">Correct input</span></span>
                            <span ng-show="passwordForm.pass.$error.required" class="err"><span class="snowflake">*</span>Required</span>
                            <span ng-show="passwordForm.pass.$error.minlength" class="err"><span class="snowflake">*</span>Minimum 6 characters</span>
                            <span ng-show="passwordForm.pass.$error.maxlength" class="err"><span class="snowflake">*</span>Maximum 100 characters</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPas" class="col-md-3 control-label">Confirm New Password:</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" ng-minlength="4" ng-maxlength="100"
                                   ng-model="user.ConfirmPassword" id="confirmPas" required="required"
                                   placeholder="Confirm password" name="confirmPass">
                        </div>
                        <div class="col-md-9 col-md-offset-3">
                            <span ng-show="passwordForm.confirmPass.$valid&&user.password == user.confirmPassword"><span class="royal">Correct input</span></span>
                            <span ng-show="passwordForm.confirmPass.$error.required" class="err"><span class="snowflake">*</span>Required</span>
                            <span ng-show="user.NewPassword != user.ConfirmPassword" class="err"><span class="snowflake">*</span>Must match the previous entry</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 col-lg-offset-3">
                            <button type="submit" class="btn btn-primary"
                                    ng-disabled="passwordForm.$invalid || user.NewPassword != user.ConfirmPassword"
                                    ng-click="submitChanges(user)">Change Password
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

