body {
    font-family: Calibri, Arial, serif;
    background-color: #E2F0D9;
}

#app-header {
    background-color: #A9D18E;
    border: #507E32 1px solid;
    text-align: center;
    padding: 5px;
    font-size: 16pt;
    font-weight: bold;
    color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 0.5px 0.5px 1px;
    margin: 5px;
}

#app-header .user-area {
    float: right;
    font-size: 11pt;
    font-weight: normal;
    margin: 5px 5px 0 0;
}

#app-header .user-area span {
    margin-right: 15px;
}

#app-footer {
    clear: both;
    background-color: #A9D18E;
    border: #507E32 1px solid;
    text-align: center;
    padding: 5px;
    font-size: 12pt;
    font-weight: normal;
    color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 0.3px 0.3px 1px;
    margin: 5px;
}

ul.pagination {
    display: table;
    margin: 15px auto;
}

ul.ads {
    padding: 0;
}

ul.ads li {
    list-style-type: none;
}

.box {
    width: 100%;
    display: block;
    background: #A9D18E;
    border: #507E32 1px solid;
    margin: 15px 0;
    padding: 10px;
    box-shadow: rgba(80, 126, 50, 0.5) 0.5px 0.5px 3px;
}

.box h1 {
    margin: 0 0 10px 0;
    font-size: 18pt;
    font-weight: bold;
    color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 0.3px 0.3px 1px;
}

.box h2 {
    margin: 0 0 10px 0;
    font-size: 16pt;
    font-weight: bold;
    color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 0.3px 0.3px 1px;
}

ul.sidebar-menu li a, ul.sidebar-menu li a:focus {
    outline: none;
    display: block;
    text-decoration: none;
    color: #1c381c;
}

.button, .button:focus {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    background: #70AD47;
    border: 2px solid #507E32;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    margin: 5px 10px 0px 10px;
    outline: none;
}

.button:hover {
    background: #87c649;
    border: 2px solid #649636;
    text-decoration: none;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    cursor: pointer;
}

.link {
    color: #2E75B6;
    text-decoration: none;
    padding: 0;
    border-bottom: 1px dotted #2E75B6;
    cursor: pointer;
}

.link:hover {
    color: #29619d;
    text-decoration: none;
}

.no-data {
    font-size: 18px;
    color: royalblue;
}

.btn {
    margin-bottom: 5px;
}

/*login/register validations css*/
span.err {
    color: royalblue;
    /*font-weight: bold;*/
}

/*select menus in inputs*/
input.ng-invalid, textarea.ng-invalid, select.ng-invalid {
    background: lightsalmon;
    border: #507E32 1px solid;
}

option{
    background-color: #E2F0D9;
}

.snowflake {
    color: #FF5555;
}

/*tables css, cells are not stretched from content*/
table {
    width: 100%;
}

td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*alingn content to header and footer at sides*/
#app-content {
    /*padding-top: 50px;*/
    margin: 0px 5px 0px 5px;
}

/*royal wording- i.e. admin in header username css*/
.royal {
    color: royalblue;
}

header a {
    font-weight: bold;
}

/*loading image to be centerd withi the div*/
img.loading {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px;
}

/*foother avatar*/
img.avatar {
    border-radius: 5px;
}

/*sort box in all Projects*/
#sort-box {
    margin-bottom: 10px;
}

/*table fixed header slider*/
table#filter tr {
    width: 98%;
    display: inline-table;
    table-layout: fixed;
}

table#filter {
    /*Select the height of the table*/
    height: 380px;
    /*Firefox Bad Effect*/
    display: -moz-groupbox;
}

table#filter tbody {
    overflow-y: scroll;
    /*Select the height of the body*/
    height: 350px;
    width: 98%;
    position: absolute;
}

/*project's details*/
.text-area {
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.overflow {
    word-wrap: break-word;
}

/*sicky footer*/
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}

#app-footer {
    position: absolute;
    bottom: 0;
    width: 99.3%;
    /* Set the fixed height of the footer here */
    height: 40px;
}

/*keeps the Y-scrool bar when bootstrap opens modal*/
.modal-open {
    overflow: scroll;
}

/*remove X-scroow bar bootstrap causes*/
body {
    overflow-x: hidden;
}

/*keeps distane between status and Change status button*/
#status {
    margin-right: 10px;
}

textarea.form-control {
    height: 100px;
}

.box-row {
    padding: 0 10px;
    margin: 0 5px;
}