<div class="pull-right">
	<form class="form-inline">
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon1"
				       ng-model="search">
					<span class="input-group-addon" id="basic-addon1"><span
							class="glyphicon glyphicon-search"></span></span>
			</div>
		</div>
		<h6>Showing <strong class="royal">{{filtered.length}}</strong> comments</h6>
		<h6><strong>Scroll</strong> table <strong>body</strong> to see <strong>listed comments</strong></h6>
	</form>
</div>

