<div class="pull-right">
	<!-- Extra small button group -->
	<div class="btn-group" ng-if="issue.AvailableStatuses.length&&(authService.isAdmin()||isProjectLeader||isAssignee)">
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
		        aria-expanded="false">
			Change Status<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li ng-repeat="status in issue.AvailableStatuses" ng-click="changeStatus(status)"><a>{{status.Name}}</a>
			</li>
		</ul>
	</div>
</div>

<div class="pull-right" id="status">

	<strong>Status: </strong>
	<p><strong><span class="royal">{{issue.Status.Name}} </span></strong></p>

</div>