<div class="box">
	<form name="editAd" class="form-horizontal" autocomplete="off">
		<fieldset>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<legend>Edit Ad</legend>
				</div>
			</div>
			<div class="form-group">
				<label for="title" class="col-md-3 control-label">Title:</label>
				<div class="col-md-9">
					<input type="text" class="form-control" id="title" ng-model="ad.title"
					       placeholder="Title" required>
				</div>
			</div>
			<div class="form-group">
				<label for="text" class="col-md-3 control-label">Text:</label>
				<div class="col-md-9">
					<textarea class="form-control" ng-minlength="1" ng-maxlength="500"
					       id="text" ng-model="ad.text"
					       placeholder="Text..." required></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="image" class="col-md-3 control-label">Image:</label>
				<div class="col-md-9">
					<input class="form-control" type="file" id="image" onchange="angular.element(this).scope().fileSelected(this)"/>
					<div class="image-box" ng-hide="!ad.imageDataUrl">
						<img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
					</div>
					<div class="image-box" ng-hide="ad.imageDataUrl">
						<img class="ad-image" src="images/defaultImg.png" />
					</div>
					<!--<a href="" class="button" ng-click="deleteImage()">Delete</a>-->
					<button type="button" class="btn btn-default btn-sm" ng-click="deleteImage()">
						<span class="glyphicon glyphicon-trash"></span> Trash
					</button>
				</div>
			</div>
			<div class="form-group">
				<label for="category" class="col-md-3 control-label">Category:</label>
				<div class="col-md-9">
					<select class="form-control" id="category" ng-model="ad.categoryId">
						<option value="null">(None)</option>
						<option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="town" class="col-md-3 control-label">Town:</label>
				<div class="col-md-9">
					<select class="form-control" id="town" ng-model="ad.townId">
						<option value="null">(None)</option>
						<option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-9 col-md-offset-3">
					<button type="reset" class="btn btn-default">Reset</button>
					<button type="submit" class="btn btn-primary" ng-disabled="editAd.$invalid"
					        ng-click="submitAdForEditing(ad)">Edit
					</button>
					<a href="#/user/ads" class="button">Cancel</a>
				</div>
			</div>
		</fieldset>
	</form>

</div>
