<div class="box">
	<div ng-if="projects.Projects.length==0" class="box no-data">
		No Projects found.
	</div>

	<div class="pull-right">
		<form class="form-inline">
			<div class="form-group">
				<label for="sort">Sort by:</label>
				<select class="form-control" ng-model="sort" id="sort">
					<option value="">Not Sorted</option>
					<option value="Name">Name</option>
					<option value="Lead.Username">Lead</option>
				</select>
			</div>
			<div class="form-group">
				<label for="search">Search</label>
				<input type="text" class="form-control" id="search" placeholder="Search criteria">
			</div>
		</form>
	</div>

	<h2>All Projects</h2>
	<table class="table table-hover">
		<thead>
		<tr>
			<th>Name</th>
			<th class="columnA">Lead</th>
			<th>Description</th>
			<th>Labels</th>
			<th>Priorities</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="project in projects.Projects">
			<td><a href="#/projects/{{project.Id}}" class="link">{{ project.Name }}</a></td>
			<td class="columnA">{{ project.Lead.Username }}<span class="admin-header" ng-if="project.Lead.isAdmin"> (is Admin)</span>
			</td>
			<td>{{ project.Description }}</td>
			<td><span ng-repeat="label in project.Labels">{{label.Name}}, </span></td>
			<td><span ng-repeat="priority in project.Priorities">{{priority.Name}}, </span></td>
		</tr>
		</tbody>
	</table>

	<!--projects.TotalCount e parviat obekt v masiva koito izvikva zaiavkata Get All Projects-->
	<!--ng-model="projectsParams.startPage promenia StartPage v HomeController-->
	<!--projectsParams.pageSize- default constatn, zadadena v app.js i izpolzvana v HomeController-->
	<!--ng-change="reloadProjects(), pravi se zaiavka ot HomeController s novite projectsParams-->
	<pagination total-items="projects.TotalCount"
	            ng-model="projectsParams.pageNumber"
	            items-per-page="projectsParams.pageSize"
	            ng-change="reloadProjects()"
	            max-size="12"
	            boundary-links="true">
	</pagination>
</div>