<!--issues.TotalCount e parviat obekt v masiva koito izvikva zaiavkata Get All Adds-->
<!--ng-model="issuesParams.startPage promenia StartPage v HomeController-->
<!--issuesParams.pageSize- default constatn, zadadena v app.js i izpolzvana v HomeController-->
<!--ng-change="reloadIssues(), pravi se zaiavka ot HomeController s novite issuesParams-->
<pagination total-items="issues.TotalCount"
            ng-model="issuesParams.startPage"
            items-per-page="issuesParams.pageSize"
            ng-change="reloadIssues()"
            max-size="9"
            boundary-links="true">
</pagination>

<img src="images/loading.gif" alt="Loading..." ng-hide="ready">

<ul class="issues" ng-cloak>
    <li ng-repeat="ad in issues.Issues" class="box" data-id="{{ad.id}}">
        <h1>{{ad.title}}</h1>
        <div><strong class="col-md-2">Date:</strong> {{ad.date | date:'dd-MMM-yyyy'}}</div>
        <div><strong class="col-md-2">Text:</strong> {{ad.text}}</div>
        <div><strong class="col-md-2">Name:</strong> {{ad.ownerName}}</div>
        <div><strong class="col-md-2">Email:</strong> {{ad.ownerEmail}}</div>
        <div><strong class="col-md-2">Phone:</strong> {{ad.ownerPhone}}</div>
        <!--<div ng-if='ad.imageDataUrl'>-->
        <strong class="col-md-2">Image: </strong>
        <div class="image-box">
            <img class="ad-image" src="images/defaultImg.png" ng-src="{{ad.imageDataUrl}}" />
        </div>
        <!--</div>-->
    </li>
</ul>

<div ng-if="issues.Issues.length==0" class="box no-data">
    No issues found.
</div>
