<label for="newPriority" class="col-md-3 control-label">Priorities:</label>
<div class="col-md-9 " >
	<div class="tags" id="newPriority">
		<div class="tag label label-success"><a href ng-click="add('Low')">Low</a> <a class="close" href ng-click="remove('Low')">×</a></div>
		<div class="tag label label-info"><a href ng-click="add('Normal')">Normal</a><a class="close" href ng-click="remove('Normal')">×</a></div>
		<div class="tag label label-warning"><a href ng-click="add('High')">High</a><a class="close" href ng-click="remove('High')">×</a></div>
		<div class="tag label label-danger"><a href ng-click="add('Urgent')">Urgent</a>  <a class="close" href ng-click="remove('Urgent')">×</a></div>
	</div>
</div>

<div class="col-md-9 col-md-offset-3">
	<span><strong>Chosen Priorities: </strong><span id="priorities" class="royal">{{joinedPriorities}}</span></span>
	<span ng-show="!joinedPriorities.length" class="err"><span class="snowflake">*</span>Required</span>
</div>