<div class="row" ng-cloak>
	<div class="col-md-10 col-md-offset-1">
		<div class="box ">
			<form name="issueForm" class="form-horizontal" ng-controller="AutocompleteController">
				<fieldset>
					<div class="form-group">
						<label for="issueTitle" class="col-md-3 control-label">Title:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" ng-model="issue.Title" id="issueTitle"
							       required="required" placeholder="Title..." name="title">
							<span ng-show="issueForm.title.$valid"><span class="royal">Correct input</span></span>
							<span ng-show="issueForm.title.$error.required" class="err"><span class="snowflake">*</span>Required</span>
						</div>
					</div>
					<div class="form-group">
						<label for="issueDescription" class="col-md-3 control-label">Description:</label>
						<div class="col-md-9">
							<textarea class="form-control" ng-minlength="2" ng-maxlength="1000"
							          ng-model="issue.Description" id="issueDescription" required="required"
							          placeholder="Description..." name="description"></textarea>
							<span ng-show="issueForm.description.$valid"><span class="royal">Correct input</span></span>
							<span ng-show="issueForm.description.$error.required" class="err"><span
									class="snowflake">*</span>Required</span>
							<span ng-show="issueForm.description.$error.minlength" class="err"><span
									class="snowflake">*</span>Minimum 2 characters</span>
							<span ng-show="issueForm.description.$error.maxlength" class="err"><span
									class="snowflake">*</span>Maximum 1000 characters</span>
						</div>
					</div>
					<div class="form-group">
						<label for="issueDueDate" class="col-md-3 control-label">Due Date:</label>
						<div class="col-md-4">
							<input type="datetime-local" id="issueDueDate" class="form-control" ng-model="issue.DueDate"
							       required="required" min="{{today | date: 'yyyy-MM-ddTHH:mm:ss'}}"
							       max="{{maxDueDay | date: 'yyyy-MM-ddTHH:mm:ss'}}" name="timeAndDate">
						</div>
						<div class="col-md-9 col-md-offset-3">
							<span ng-show="issueForm.timeAndDate.$valid"><span class="royal">Correct input</span></span>
							<span ng-show="issueForm.timeAndDate.$error.required" class="err">
								<span class="snowflake">*</span>Allowed 12 months period from today
								<span class="snowflake">*</span>Example for valid input: 04/30/2016 06:53 PM
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="assignee" class="col-md-3 control-label">Assignee:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" ng-model="issue.AssigneeId" ng-keyup="autocompleteUsers()" id="assignee"
							       required="required" placeholder="Type part of  Assignee email..." name="assignee">
							<span ng-show="issueForm.assignee.$valid"><span class="royal">Correct input</span></span>
							<span ng-show="issueForm.assignee.$error.required" class="err"><span
									class="snowflake">*</span>Required</span>
						</div>
					</div>
					<div class="form-group">
						<label for="priority" class="col-md-3 control-label">Priority:</label>
						<div class="col-md-4">
							<select class="form-control" id="priority"  required="required"
							        name="priority">
								<!--<option value="">Choose priority...</option>-->
								<option ng-repeat="pr in project.Priorities" ng-class="{'selected' : issue.PriorityId == pr.Id}" value="{{pr.Id}}">{{pr.Name}}</option>
							</select>
							<span ng-show="issueForm.priority.$valid"><span class="royal">Correct input</span></span>
							<span ng-show="issueForm.priority.$error.required" class="err"><span
									class="snowflake">*</span>Required</span>
						</div>
					</div>
					<div class="form-group">
						<tag-manager ></tag-manager>
					</div>

					<div class="form-group">
						<div class="col-md-9 col-lg-offset-3">
							<button type="submit" class="btn btn-primary"
							        ng-disabled="issueForm.$invalid || !joinedLabels"
							        ng-click="submitIssueForEditing(issue)">Edit Issue
							</button>
							<a href="#/issues/{{oldIssueId}}" class="btn btn-default ">Go To Issue</a>
							<a href="#/projects/{{project.Id}}" class="btn btn-default ">Go To Project</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
