<div class="box">
    <!--FILTERS-->
    <div ng-issues-filters></div>

    <h2>Issues:</h2>
	<!--TODO:format table columns width-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="columnTitle">Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Assignee</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="issue in filtered =( projectIssues
            |filter:{Status: {Id:statusFilter||'!!'}}
            |filter: {Assignee: {Id: assigneeFilter||'!!'}}
            |filter: {Author: {Id: authorFilter||'!!'}})">
            <td class="columnTitle"><a href="#issues/{{issue.Id}}" class="link">{{issue.Title}}</a></td>
            <td>{{issue.Description}}</td>
            <td>{{issue.DueDate|date}}</td>
            <td>{{issue.Assignee.Username}}</td>
            <td>{{issue.Status.Name}}</td>
        </tr>
        </tbody>
    </table>

</div>



