<div class="box">
    <div ng-include="'views/projectDetails/templates/issuesFilters.html'"></div>

    <h2>Project's Issues</h2>
    <table class="table table-hover" id="filter">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Assignee</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="issue in filtered =( projectIssues
            |filter:{Status: {Id:statusFilter||'!!'}}
            |filter: {Assignee: {Id: assigneeFilter||'!!'}}
            |filter: {Author: {Id: authorFilter||'!!'}})">
            <td><a href="#issues/{{issue.Id}}">{{issue.Title}}</a></td>
            <td>{{issue.Description}}</td>
            <td>{{issue.DueDate|date}}</td>
            <td>{{issue.Assignee.Username}}</td>
        </tr>
        </tbody>
    </table>

    <!--NO DATA FOUND-->
    <div ng-if="projectIssues.length==0" class="box no-data">
        No Issues found.
    </div>

</div>



