<div class="box">
	<h2>Project Details</h2>

	<div ng-if="authService.isAdmin()||authService.isProjectLeader(project.Lead.Id)">
		<a class="btn btn-primary" href="#projects/edit/{{project.Id}}">Edit</a>
		<a class="btn btn-primary" href="#projects/add-issue/{{project.Id}}">Add Issue</a>
	</div>

	<table class="table table-hover">
		<thead>
		<tr>
			<th>Name:</th>
			<th>{{project.Name}}</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>Description:</td>
			<td>{{project.Description}}</td>
		</tr>
		<!--<tr>-->
		<!--<td>Project key:</td>-->
		<!--<td>{{project.ProjectKey}}</td>-->
		<!--</tr>-->
		<tr>
			<td>Project’s leader:</td>
			<td>{{project.Lead.Username}}<span class="royal" ng-if="project.Lead.isAdmin"> (is Admin)</span></td>
		</tr>
		<tr>
			<td>Labels:</td>
			<td><span ng-repeat="label in project.Labels">{{label.Name}}{{$last ? '' : ', '}}</span></td>
		</tr>
		<tr>
			<td>Priorities:</td>
			<td><span ng-repeat="priority in project.Priorities">{{priority.Name}}{{$last ? '' : ', '}}</span></td>
		</tr>

		</tbody>
	</table>
</div>
