<div class="box">
	<div class="pull-right">
		<div ng-if="authService.isAdmin()||isProjectLeader">
			<a class="btn btn-primary" href="#projects/edit/{{project.Id}}">Edit Project</a>
			<a class="btn btn-primary" href="#projects/add-issue/{{project.Id}}">Add Issue</a>
		</div>
	</div>
	<h2>Project</h2>
	<strong>Name:</strong>
	<p class="overflow">{{project.Name}}</p>

	<!--<td>Project key:</td>-->
	<!--<td>{{project.ProjectKey}}</td>-->

	<strong>Project’s leader:</strong>
	<p class="overflow">{{project.Lead.Username}}<span class="royal" ng-if="project.Lead.isAdmin"> (is Admin)</span></p>

	<strong>Labels:</strong>
	<p class="overflow"><span ng-repeat="label in project.Labels">{{label.Name}}{{$last ? '' : ', '}}</span></p>

	<strong>Priorities:</strong>
	<p class="overflow"><span ng-repeat="priority in project.Priorities">{{priority.Name}}{{$last ? '' : ', '}}</span></p>

	<strong>Description:</strong>
	<!-- Trigger the modal with a button -->
	<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Show Full Description
	</button>
	<a href="#/" class="btn btn-default btn-sm">Go To Dashboard</a>

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Description</h4>
				</div>
				<div class="modal-body">
					<p><span class="overflow">{{project.Description}}</span></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
	<div class="text-area">{{project.Description}}</div>
</div>
