<div class="box">
	<form name="loginForm" class="form-horizontal" autocomplete="off">
		<fieldset>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<legend>Login:</legend>
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-md-3 control-label">Email:</label>
				<div class="col-md-9">
					<input type="email" class="form-control" ng-model="user.username" id="email"
					       required="required" placeholder="Email" name="email">
				</div>
				<div class="col-md-9 col-md-offset-3">
					<span ng-show="loginForm.email.$error.required" class="err">Required</span>
					<span ng-show="loginForm.email.$error.email" class="err">Not a valid email address</span>
				</div>
			</div>
			<div class="form-group">
				<label for="loginPassword" class="col-md-3 control-label">Password:</label>
				<div class="col-md-9">
					<input type="password" class="form-control" ng-minlength="6" ng-maxlength="100"
					       ng-model="user.password" id="loginPassword" required="required"
					       placeholder="Password" name="pass">
				</div>
				<div class="col-md-9 col-md-offset-3">
					<span ng-show="loginForm.pass.$error.required" class="err">Required</span>
					<span ng-show="loginForm.pass.$error.minlength" class="err">Minimum 6 characters</span>
					<span ng-show="loginForm.pass.$error.maxlength" class="err">Maximum 100 characters</span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-9 col-md-offset-3">
					<button type="submit" class="btn btn-primary col-md-3" ng-disabled="loginForm.$invalid"
					        ng-click="login(user)">Login
					</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>